/* src/styles/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  scroll-behavior: smooth;
}

.container {
  padding-left: 1rem; /* Optional */
  padding-right: 1rem; /* Optional */
}

